// Wide screen:
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include mediaLger {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .prev {
    right: 56.5vw;
  }
}

// Desktop & Laptop
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  .title {
    margin-top: 5.1rem;
  }

  //About me Experience showcase
  .mySlides img,
  .mySlides video,
  #picture1,
  #video1 {
    height: 35vh;
  }

  .prev {
    right: 82%;
  }

  /*******************************************
  *******************************************
   MY WORK STYLING
  *******************************************
  *******************************************/
  .content {
    position: fixed;
    width: 65%;
    left: 17.5%;
    height: 58%;
    top: 21%;

    &.show {
      animation: mymoveIpadPro 1s ease;
    }

    &.close {
      animation: mymovecloseIpadPro 1s ease;
    }

    .content-container {
      top: 0%;

      .projectName {
        position: absolute;
        top: 60%;
      }

      .projectBrief {
        position: absolute;
        top: 70%;
      }

      .projectDescription {
        position: absolute;
        top: 75%;
      }

      .btnView {
        position: absolute;
      }

      .close-button {
        position: absolute;
      }
    }
  }

  #main-footer-work {
    position: absolute;
    width: 100%;
    right: 0rem;
    text-align: center;
  }
}

// Tablet and Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.close {
      animation: mymovecloseIpad 1s ease;
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url(../img/portrait.png) 50% 50% no-repeat;
      background-size: 150px;
      width: 150px;
      height: 150px;
    }
  }

  .resume {
    visibility: hidden;
  }

  .about-info {
    // see defining template areas in main.scss
    grid-template-areas:
      "bioimage"
      "bio"
      "experience"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .more-info {
    // see defining template areas in main.scss
    grid-template-areas:
      "experience"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .sectionName {
    margin-top: 2rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  //about me experience showcase
  .mySlides img,
  .mySlides video {
    width: 73%;
    height: 40vh;
    margin-left: -2%;
  }

  #picture1,
  #video1 {
    width: 95%;
    height: 40vh;
    margin-left: -3%;
  }

  .prev {
    right: 73.5vw;
  }

  .next {
    right: 6vw;
  }

  .numbertext {
    padding-left: 7rem;
  }

  /*******************************************
  *******************************************
   MY WORK STYLING
  *******************************************
  *******************************************/
  .content {
    position: fixed;
    width: 65%;
    left: 17.5%;
    height: 58%;
    top: 21%;

    &.show {
      animation: mymoveIpadPro 1s ease;
    }

    &.close {
      animation: mymovecloseIpadPro 1s ease;
    }

    .content-container {
      top: 0%;

      .projectName {
        position: absolute;
        top: 60%;
      }

      .projectBrief {
        position: absolute;
        top: 69%;
      }

      .projectDescription {
        position: absolute;
        top: 75%;
      }

      .btnView {
        position: absolute;
      }

      .close-button {
        position: absolute;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
    img {
      height: 12.5rem;
    }

    .hoverText,
    .projectName {
      top: -9.5rem;
    }
  }

  //Slideshow styling:
  .mySlides img,
  .mySlides video {
    width: 120%;
    height: 32vh;
    margin-left: -10%;
  }

  #picture1,
  #video1 {
    width: 130%;
    height: 32vh;
    margin-left: -15%;
  }

  .prev {
    right: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    top: 48%;
  }

  .next {
    right: -10%;
    font-size: 1rem;
    padding: 0.5rem;
    top: 48%;
  }

  .numbertext {
    padding-left: 0rem;
  }

  .text {
    bottom: -18%;
    font-size: 0.9rem;
  }

  .get-resume {
    visibility: hidden;
  }

  /*******************************************
  *******************************************
   MY WORK STYLING
  *******************************************
  *******************************************/
  .projects {
    .hoverText {
      top: -8.5rem;
    }
    .projectName {
      top: -8.5rem;
    }
  }
  .content {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &.show {
      animation: mymoveIpadPro 1s ease;
    }

    &.close {
      animation: mymovecloseIpadPro 1s ease;
    }

    .content-container {
      top: 0%;

      .projectName {
        top: 45%;
        left: 0%;
        width: 100%;
        text-align: center;
      }

      .projectBrief {
        position: absolute;
        top: 60%;
        left: 0%;
        width: 100%;
        text-align: center;
      }

      .projectDescription {
        position: absolute;
        top: 65%;
        left: 0%;
        text-align: center;
      }

      .btnView {
        position: absolute;
        width: 30%;
      }

      .close-button {
        position: absolute;
      }
    }
  }

  /*******************************************
  *******************************************
   CONTACT STYLING
  *******************************************
  *******************************************/
  #contact {
    .lg-heading {
      position: relative;
      right: 5%;
      font-size: 5rem;
    }
  }

  .boxes {
    div {
      font-size: 1.2rem;
    }
  }
}
