@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  // this make the text color black when the background is light
  // function in config file
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Heading:
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

h6 {
  font-size: 0.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.title {
  margin-top: 3.4rem;
}

main {
  padding: 4rem;
  //height: 100%;
  // making footer stays at the end of page
  // 17:00 vid 5
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    // hide scroll bar
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

/*******************************************************
 * *****************************************************
 * STYLING FOR ABOUT ME PAGE *
********************************************************
********************************************************/
.about-info {
  display: grid;
  grid-gap: 30px;
  // line 1 1 bioimage and 2 bio texts
  // line 2 1 job per column
  // grid areas will be defined
  grid-template-areas:
    "bioimage bio bio"
    "experience experience experience"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.more-info {
  display: grid;
  grid-gap: 30px;
  // line 1 1 bioimage and 2 bio texts
  // line 2 1 job per column
  // grid areas will be defined
  grid-template-areas:
    "experience experience experience"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

// Defining grid areas
.bio-image {
  height: 30vh;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.2rem;
}

.sectionName {
  grid-area: experience;
  font-size: 1.35rem;
}

.hr1 {
  border: solid $secondary-color;
}

.job-1,
.achieve-1 {
  grid-area: job1;
}

.job-2,
.achieve-2 {
  grid-area: job2;
}

.job-3,
.achieve-3 {
  grid-area: job3;
}

.job,
.achieve {
  // lighten the background
  background: lighten($primary-color, $amount: 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
  text-align: center;
}

// EXPERIENCE SHOWCASE
.textSection h3 {
  padding-top: 5rem;
  font-size: 2rem;
  text-align: center;
}

/* SHOWCASE STYLING START */
.mySlides {
  display: none;
}

.mySlides img,
.mySlides video {
  vertical-align: middle;
  width: 60%;
  height: 60vh;
  margin-left: 20%;
  padding: 0.4rem;
  background: $secondary-color;
}

.mySlides video {
  padding: 0.4rem 0rem;
}

#picture1,
#video1 {
  vertical-align: middle;
  width: 80%;
  height: 60vh;
  margin-left: 10%;
}

img {
  vertical-align: middle;
}

source {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 2.5rem;
}

/* Next & previous buttons */
.prev,
.next {
@include slideButtons; 
top: 45%; 
}

/* Position the "next button" to the right */
.next {
  right: 13%;
  border-radius: 3px 0 0 3px;
}

.prev {
  right: 83%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  font-style: bold;
  font-size: 1.3rem;
  padding: 0.3rem 0.4rem;
  position: absolute;
  bottom: -8%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 4rem;
  padding-left: 14rem;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  top: 30rem;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* SHOWCASE IMAGE STYLING ENDS */

/*******************************************************
 * *****************************************************
 * STYLING FOR MY WORK PAGE*
********************************************************
********************************************************/
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .hoverText {
    position: relative;
    top: -10rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: $secondary-color;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    visibility: hidden;
    font-size: 0.8rem;
  }

  .projectName {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    position: relative;
    top: -10rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    visibility: hidden;
  }

  .items:hover .hoverText,
  .items:hover .projectName {
    visibility: visible;
  }

  .btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
    position: relative;
    top: -6rem;
  }

  .btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
    position: relative;
    top: -6rem;
  }

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.3;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: -0.2rem;
  top: 0;
  opacity: 0.7;
  background-color: $primary-color;
  overflow: hidden;
  transition: 0.5s;
  z-index: 0;
}

.content {
  top: 1.5rem;
  position: fixed;
  width: 50%;
  height: 90%;
  left: 25%;
  z-index: 1;
  top: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0em;

  .images {
    img {
      position: relative;
      width: 100%;
      height: 25rem;
    }

    .prevWork, 
    .nextWork{
      @include slideButtons; 
      background-color: rgba(0, 0, 0, 0.8);
      top: 48%;  
    }
    .prevWork{
      left: 0; 
    }
    .nextWork{
      right: 0;
    }

    .gap {
      position: relative;
      background-color: rgba(0, 0, 0, 1);
      height: 0.3rem;
    }
  }

  .content-container{
    margin: 1.5rem 1.5rem;

    .projectName{
      position: relative;
      font-weight: bold;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.5rem;
      color: #333;
    }

    .projectBrief{
      position: relative;
      font-size: 1rem;
      color: #757474;
      font-family: Georgia, serif;
      top: -0.5rem;
    }

    hr{
      position: relative;
    }

    .projectDescription{
      color: rgba(0, 0, 0, 0.8); 
      font-size: 0.95rem;
    }
  }

  .btnView{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    height: 15%;
    width: 20%;
    background-color: rgb(219, 57, 57);
    color: seashell;
    margin-top: 1.5rem;
    margin-left: -0.3rem;
    font-family: Georgia, serif; 
    @include easeOut; 

    &:hover{
      background-color: seashell;
      color: rgb(219, 57, 57);
    }
  }

  .close-button {
    position: relative;
    z-index: 3;
    right: -40rem;
    top: -2rem; 
    cursor: pointer;
  
    .button-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      // function in config file
      background-color: grey;
      @include easeOut;

      &:nth-child(1) {
        transform: rotate(45deg) translate(2px, 4px);
      }

      &:nth-child(2) {
        transform: rotate(-45deg) translate(2px, -4px);
      }
    }
  }
}
/*******************************************************
 * *****************************************************
 * STYLING FOR CONTACT PAGE*
********************************************************
********************************************************/
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles for my work
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// implement media queries
@import "mobile";
